<!-- <p>header works!</p> -->
<div class="card analytics-header">
    <h2>Analytics and Reporting</h2>
    <!-- <div class="analytics-actions">
    <div class="date-range-selector">
      <select>
        <option>Last 30 days</option>
        <option>Last 7 days</option>
        <option>This month</option>
        <option>Last month</option>
        <option>Custom range</option>
      </select>
    </div>
    <button class="refresh-button">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C14.0041 3 15.875 3.79947 17.314 5.00005L13 9L21 9L21 1L17 5L18.0002 6.00005C16.3757 4.60055 14.2008 3.59997 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12Z" fill="currentColor"/>
      </svg>
    </button>
    <button class="download-button">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 9H15V3H9V9H5L12 16L19 9ZM5 18H19V21H5V18Z" fill="currentColor"/>
      </svg>
    </button>
  </div> -->
    <div class="relative">
        <p-speeddial [tooltipOptions]="{ tooltipPosition: 'top' }" [model]="items" direction="left" [style]="{ position: 'absolute', top: 'calc(50% - 4rem)', right: 0 }" />
    </div>
</div>
