<div class="flex justify-between items-center card">
    <span class="text-2xl font-sans font-bold">Analytics on Marketing Automation</span>
    <p-button icon="pi pi-refresh" aria-label="Save" (click)="loadReport()" />
</div>
<div class="card flex justify-center">
    <p-chart type="pie" [data]="data" [options]="options" class="w-full md:w-[30rem] chart" />
</div>

<div class="card flex justify-center">
    <p-organization-chart [value]="tree" />
</div>

<div class="card">
    <p-chart type="bar" [data]="barData" [options]="barOptions" />
</div>
