<div class="card">
    <p-table
        #dt
        [value]="employees"
        [totalRecords]="employees ? employees.length : 0"
        [(selection)]="selectedEmployees"
        dataKey="id"
        [rowHover]="true"
        [rows]="4"
        [showCurrentPageReport]="true"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        [globalFilterFields]="['name', 'role', 'email']"
        (onFilter)="dt.filterGlobal(searchValue, 'contains')"
    >
        <ng-template #caption>
            <div class="flex justify-between">
                <p-button variant="outlined" icon="pi pi-filter-slash" label="Clear" (click)="clear()" />
                <div class="flex items-center gap-2">
                    <p-iconField iconPosition="left">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" [(ngModel)]="searchValue" placeholder="Search by Name, Role, or Email" (input)="dt.filterGlobal(searchValue, 'contains')" />
                    </p-iconField>
                    <p-button icon="pi pi-plus" label="Add Employee" routerLink="/pages/admin/employee/add" />
                </div>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="name" style="min-width: 15rem">
                    <div class="flex justify-between items-center">
                        Name
                        <p-sortIcon field="name" />
                        <p-columnFilter type="text" field="name" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th pSortableColumn="id" style="min-width: 15rem">
                    <div class="flex justify-between items-center">
                        Employee ID
                        <p-sortIcon field="id" />
                        <p-columnFilter type="text" field="id" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th pSortableColumn="role" style="min-width: 15rem">
                    <div class="flex justify-between items-center">
                        Role
                        <p-sortIcon field="role" />
                        <p-columnFilter type="text" field="role" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th style="width: 5rem"></th>
            </tr>
        </ng-template>
        <ng-template #body let-employee>
            <tr class="p-selectable-row" [routerLink]="'/pages/admin/employee/' + employee.id" style="cursor: pointer">
                <td>
                    <div class="flex items-center justify-start gap-2">
                        <ng-container *ngIf="employee.img; else defaultImg">
                            <p-avatar [image]="employee.img" class="mr-2" size="xlarge" shape="circle" />
                        </ng-container>
                        <ng-template #defaultImg>
                            <p-avatar icon="pi pi-user" class="mr-2" size="xlarge" shape="circle" />
                        </ng-template>
                        <div class="">
                            <p>
                                {{ employee.name }}
                            </p>
                            <p class="text-sm text-gray-500">
                                {{ employee.email }}
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    {{ employee.id }}
                </td>
                <td>{{ employee.role }}</td>
                <td class="z-10" (click)="$event.stopPropagation()">
                    <p-button icon="pi pi-trash" (click)="confirmDelete($event, employee.id)" [rounded]="true" severity="danger" />
                </td>
            </tr>
        </ng-template>
        <p-confirmdialog />
        <ng-template #emptymessage>
            <tr>
                <td colspan="6">No employees found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
