<div class="flex items-center justify-center overflow-hidden py-4">
    <div class="flex flex-col items-center justify-center">
        <div style="padding: 0.3rem">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 20px">
                <div class="text-center mb-8">
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Welcome to Enterprise - CRM</div>
                    <span class="text-muted-color font-medium">Sign in to continue</span>
                </div>
                <form [formGroup]="form" #registerForm="ngForm" (ngSubmit)="onSubmit(form.value)">
                    <label for="email1" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
                    <div class="flex flex-col gap-1 mb-8">
                        <input pInputText id="email1" type="text" placeholder="Email address" formControlName="email" />
                        <small class="text-red-600" id="email1" class="text-red-600" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">{{ emailErrorMessage }}</small>
                    </div>

                    <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
                    <div class="flex flex-col gap-1 mb-5">
                        <p-password id="password1" formControlName="password" placeholder="Password" [toggleMask]="true" styleClass="" [fluid]="true" [feedback]="false"></p-password>
                        <small class="text-red-600" id="password1" class="text-red-600" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">{{ passwordErrorMessage }}</small>
                    </div>
                    <p-button label="Sign In" [disabled]="form.invalid" [loading]="loading" styleClass="w-full" type="submit"></p-button>
                    <small [ngClass]="showError ? 'text-red-600' : 'text-green-500'" *ngIf="responseMessage">{{ responseMessage }}</small>
                </form>
            </div>
        </div>
    </div>
</div>
